<a href="https://colab.research.google.com/github/agussutaa/Tugas-Algoritma/blob/main/2208541012_PUTU_AGUS_ARYA_SUTA_TUGAS_IV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama : Putu Agus Arya Suta

NIM : 2208541012

Kelas : A

**PERTEMUAN 4 ALGORITMA & STRUKTUR DATA**

Pada pertemuan kali ini dilakukan pembahasan mengenai 5 sub topik yaitu sebagai berikut.

5.1 While

5.2 List

5.3 Metoda List

5.4 For Loop

5.5 Fungsi Range

**1. While**

In [ ]:
#latihan while 1
#while sama dengan logika matematika yaitu implikasi. pada kasus ini variabel akan terus dieksekusi jika boolean bernilai True dan akan berhenti bila bernilai salah
#didefinisikan variabel p = 0
p = 0
#pada intruksi ini jika p bernilai kurang dari 8 maka akan dieksekusi pada bagian selanjutnya
while p < 8 :
#terdapat dua kali eksekusi dimana yang pertama nilai dari p dipangkat tiga
  p = p**3
#selanjutnya nilai p yang telah dipangkat 3 akan ditambah 2
  p = p+2
#selanjutnya dilakukan perintah mencetak variabel p
print(p)
#pada hasil cetak menunjukkan angka 10 yang dimana berasal dari 0 dipangkat tiga kemudian ditambah 2 dengan hasil 2
#lalu karena 2 di loop maka kembali ke instruksi sebelumnya
#2 kurang dari 8 maka dieksekusi dengan dipangkat 3 lalu ditambah 2 menghasilkan 10
#angka 10 kembali dieksekusi pada perintah sebelumnya, namun karena 10 < 8 bernilai false maka eksekusi selesai

10

In [ ]:
#latihan while 2
#didefinisikan variabel b = 9
b = 9
#pada intruksi ini jika b bernilai kurang dari 8 maka akan dieksekusi pada bagian selanjutnya
while b < 8 :
#terdapat dua kali eksekusi dimana yang pertama nilai dari b dipangkat tiga
  b = b**3
#selanjutnya nilai b yang telah dipangkat 3 akan ditambah 2
  b = b+2
#selanjutnya dilakukan perintah mencetak variabel
print(b)
#pada hasil cetak menunjukkan angka 9 dimana karena pada syarat while 9 < 8 bernilai False, maka hasil langsung mencetak variabel b diketahui
#sehingga eksekusi berhenti dan dicetak b = 9

9

In [ ]:
#latihan while 3
#didefinisikan dua variabel x dan y
x = 2
y = 3
#akan dieksekusi dengan while variabel x kurang dari 4
while x < 4 :
#terdapat dua kali eksekusi variabel x dan y
#pertama x = x dikali variabel y
    x = x*y
#selanjutnya variabel x - 1
    x = x-1
#diberi perintah cetak variabel x dan y
print(x)
print(y)
#pada hasil dimana variabel x dieksekusi dan berakhir ketika x = 5. Karena 5 < 4 bernilai False maka eksekusi while berhenti
#hasil cetak variabel y = 3, karena variabel y tidak mengalami eksekusi

5
3

In [ ]:
#latihan while 4
#didefinisikan variabel q = 0
q = 0
#sama seperti latihan sebelumnya menggunakan sintaks while untuk menjalankan eksekusi
while q < 2 :
    y = q**2
    q = q-1
print(q)
#pada hasil print yaitu loading atau error dikarenakan hasil eksekusi akan terus memenuhi syarat kurang dari 2 (bernilai True)
#sehingga variabel q akan terus dieksekusi hingga dengan hasil akhir negatif tak hingga

In [ ]:
#latihan while 5
#didefinisikan dua variabel jeruk dan apel 
jeruk = 3
apel = 5
#digunakan sintaks while sebagai eksekutor program dengan variabel jeruk yang diberi batas
while jeruk  > 1 and jeruk < 5:
#akan dieksekusi bila variabel jeruk bernilai True maka jeruk = jeruk ditambah apel
  jeruk = jeruk + apel
#diberi perintah cetak variabel jeruk
print(jeruk)

8

**2. List di Python**

In [ ]:
#latihan list 1 pada python
#list dapat digunakan untuk merepresentasikan string atau angka
#urutan pada list dapat dipanggil, dirubah
#didefinisikan list 1 dengan variabel vektor 1 yang memuat beberapa angka
vektor_1 = [1,2,3,4]
#selanjutnya variabel kedua dengan nama vektor 2 yang memuat beberapa angka
vektor_2 = [5,6,7,8,9,10]
#pada bagian ini akan diprogram penjumlahan list pada vektor 1 dan 2
vektor = vektor_1 + vektor_2
#akan dicetak vektor yang telah dieksekusi sebelumnya
print(vektor)
#pada hasil cetak terlihat bawa terjadi penggabungan list pada variabel 1 dan 2
#penjumlahan pada list ini bukan menambah tiap tiap angka tapi menggabungkan list dari setiap variabel berbeda

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#type digunakan untuk mengetahui jenis dari variabel yang dideskripsikan
type(vektor)

list

In [ ]:
#latihan list 2 pada python
#didefinisikan list dengan nama seng yang memuat beberapa string
seng = ['suta', 'leo', 'eka', 'adina']
#pada bagian ini diprogramkan untuk mencetak variabel seng
print(seng)
#karena tidak ada perintah eksekusi, maka secara otomatis isi dari list seng dicetak

['suta', 'leo', 'eka', 'adina']

In [ ]:
#pada bagian ini diprogramkan untuk mencetak list pada seng dengan indeks 1
print(seng[1])

In [ ]:
#pada bagian ini diprogramkan untuk memanggil list pada seng dengan indeks -1
#indeks -1 artinya urutan terakhir pada list
print(seng[-1])

adina

In [ ]:
#pada bagian ini diprogramkan untuk memanggil list pada indeks dengan batas awal 0 dan batas akhir 2
#ingat batas akhir yang dipanggil selalu dikurang 1 sehingga indeks yang tercetak dimulai dari 0 hingga 1 saja
print(seng[0:2])

['suta', 'leo']

In [ ]:
#pada bagian ini diprogramkan untuk mereplace atau merubah anggota di list
#sebelumnya list pada seng dengan indeks 2 adalah eka namun sekarang kita ganti dengan martini
seng[2] = 'martini'
#selanjutnya akan dicetak list seng dengan anggota yang baru
print(seng)

['suta', 'leo', 'martini', 'adina']

In [ ]:
print(seng)

['suta', 'leo', 'martini', 'adina']

In [ ]:
#pada bagian ini untuk mencetak jenis pada list seng dengan indeks awal 0 hingga indeks terakhir
type(seng[0:])

list

**3. Metode List**

In [ ]:
#latihan metoda list 1
#didefinisikan list dengan nama pelangi yang memuat beberapa anggota sebagai berikut.
pelangi = ['merah', 'oranye', 'kuning', 'hijau', 'biru', 'nila']
#selanjutnya akan ditambah anggota dari list pelangi menggunakan append
pelangi.append ('ungu')
#pada bagian ini akan dicetak list pelangi yang baru dengan penambahan anggota
print (pelangi)

['merah', 'oranye', 'kuning', 'hijau', 'biru', 'nila', 'ungu']

In [ ]:
#pada bagian ini akan diinput penambahan anggota list namun menggunakan insert
#program ini akan menginput anggota coklat pada indeks 1
pelangi.insert (1, 'coklat')
#selanjutnya akan dicetak list pelangi setelah diinsert anggota baru pada indeks 1
print (pelangi)

['merah', 'coklat', 'oranye', 'kuning', 'hijau', 'biru', 'nila', 'ungu']

In [ ]:
#pada bagian ini kita bisa menghapus anggota yang terdaftar pada list menggunakan remove
pelangi.remove('oranye')
#selanjutnya akan dicetak list pelangi dengan 1 anggota yang dihapus pada list
print (pelangi)

['merah', 'coklat', 'kuning', 'hijau', 'biru', 'nila', 'ungu']

In [ ]:
#akan dicoba menggunakan remove namun dengan anggota yang tidak ada pada list
pelangi.remove('hitam')
print(pelangi)
#hasil menjadi error karena memang string yg dimasukkan bukan merupakan anggota pelangi

ValueError: ignored

In [ ]:
#pada bagian ini merupakan boolean yang hasil akhirnya berupa True or False
#dengan menanyakan apakah terdapat anggota list (string) yang dimaksud pada list
print ('biru' in pelangi)
print ('putih' in pelangi)
#hasil pertama bernilai true karena biru merupakan anggota list
#hasil kedua bernilai false karena putih bukan merupakan anggota pada list

True
False

In [ ]:
#pada bagian ini akan ditunjukkan berapa banyak indeks yang terdapat pada list dengan menggunakan len
print(len(pelangi))
#hasil menunjukkan 7, dengan demikian berarti terdapat 7 indeks pada list

7

**4. For Loop**

In [ ]:
#latihan 1 for loop untuk python
#didefinisikan list bernama seng dengan anggota string
seng = ['suta', 'leo', 'eka', 'adina']
#pada bagian ini digunakan for untuk memanggil anggota list pada seng yang diinterpretasikan sebagai human
for human in seng:
#selanjutnya anggota list yang dinamai human tadi dicetak pada bagian ini
  print(human)

suta
leo
eka
adina

In [ ]:
#latihan for loop 2
#didefinisikan list dengan anggota berbentuk string bernama kelas
kelas = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
#selanjutnya anggota list pada kelas dinamai sebagai klp kemudian dipanggil menggunakan for
#pemanggilan anggota list diambil dengan indeks batas awal 0 dan batas akhir 3
for klp in kelas [0:3] :
#pada bagian ini klp yang tadi telah diinterpretasikan kemudian dicetak sesuai perintah dengan syarat indeks 0 sampai 3
  print(klp)
#pada hasil dicetak a,b,c
#karena batas awalnya indeks 0 yaitu suku pertama dan batas akhirnya 3 yang selalu dikurang 1 sehingga menjadi indeks kedua

a
b
c

In [ ]:
#latihan for loop 3
#pada bagian ini tanpa mendefinisikan list kita bisa langsung memanggil anggota list menggunakan for
#namun dengan catatan kita akan memanggil apa pada apa. Karena kita tidak memberikan list diawal, maka kita berikan list pada pemanggilannya 
#dicontohkan dengan memanggil q pada list berbentuk angka
for q in [1,2,3,4,5]:
#kemudian didefinisikan p dengan q dikali 3
  p = q*3
#pada bagian ini dicetak p yang telah melewati proses eksekusi
  print(p)

3
6
9
12
15

**5. Range**

In [ ]:
#latihan 1 fungsi range
#kita akan memanggil anggota menggunakan for yang didefinisikan sebagai a pada list kelas dengan fungsi range pada len kelas
#fungsi range digunakan untuk membangkitkan urutan atau pola yang kita ingin
for a in range(len(kelas)):
#selanjutnya pada bagian ini dicetak kelas dengan syarat a tadi
  print(kelas[a])

a
b
c
d
e
f
g

In [ ]:
#latihan 2 fungsi range
#pada bagian ini kita akan mengecek berapa banyak anggota namun dengan hasil indeks menggunakan fungsi range dan len
print(range(len(kelas)))

range(0, 7)

In [ ]:
#latihan 3 fungsi range
#sama dengan latihan 1 kita akan memanggil anggota menggunakan for yang didefinisikan sebagai i pada list seng dengan fungsi range pada len seng
#fungsi range digunakan untuk membangkitkan urutan atau pola yang kita ingin
for i in range(len(seng)):
#selanjutnya pada bagian ini dicetak seng dengan syarat i tadi
  print(seng[i])

suta
leo
eka
adina

In [ ]:
#latihan 4 fungsi range
#pada bagian ini kita akan mengecek berapa banyak anggota namun dengan hasil indeks menggunakan fungsi range dan len
print(range(len(seng)))

range(0, 4)