<a href="https://colab.research.google.com/github/agussutaa/Tugas-Algoritma/blob/main/2208541012_PUTU_AGUS_ARYA_SUTA_TUGAS_III.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama : Putu Agus Arya Suta 

NIM : 2208541012

Kelas : A


**PERTEMUAN 3 ALGORITMA & STRUKTUR** **DATA** **(20 Maret 2023)**

Adapun beberapa materi yang diberikan pada pertemuan kali ini ialah sebagai berikut.

1.   *Strings Index*
2.   *Strings Methods*
3. Operasi Matematika
4. Operator Perbandingan
5. Operator Logika
6. Operator *if*

**1. Strings Index**

In [ ]:
#variabel string disini diurut dengan indeks yang pertama itu 0 dan terakhir itu -1
#berikut contoh kalimatnya dengan variabel bernama tes
tes = "SAYA MENCOBA HAL BARU"
#disini akan dicetak variabel tes dengan indeks dimulai dari 0 atau yang paling pertama hingga indeks ke-5.
#tetapi indeks ke-5 tidak akan dicetak karena yang dicetak selalu kurang dari indeks terakhir.
print(tes[0:5])
print(tes[0:4])
print(tes[0:3])
#disini akan di print variabel tes dengan indeks dari -9 (dari indeks terakhir maju ke depan sesuai garis bilangan) hingga 0
#sehingga akan muncul semua indeks dengan batas pertama -9 hingga indeks terakhir
print(tes[-9:])

SAYA
SAYA
SAY
 HAL BARU

In [ ]:
#type berfungsi untuk menentukan jenis data pada indeks tersebut
type(tes[0:])

str

In [ ]:
#indeks yang dimasukkan bebas sesuai keinginan pemrogram
a = "Saya lahir pada tanggal 11 April 2004 di Kabupaten Jembrana"
print(a[0:])
print(a[0:10])
print(a[5:23])
type(a[25:26])

Saya lahir pada tanggal 11 April 2004 di Kabupaten Jembrana
Saya lahir
lahir pada tanggal

str

In [ ]:
nim = "2208541012"
nama = "agus suta"
#pada kasus ini hasilnya tidak keluar karena batas awal tidak diketahui yang akan menyebabkan semua indeks akan tercetak, namun diberi batas 0 atau indeks pertama sedangkan batas indeks terakhir yang akan dicetak selalu kurang dari 1
print(nim[:0])
print(nim[-3:])
print(nim[-1:-10])
print(nim[0:2] + nim[-3:])
print(str(nama[-4:]) + " " + str(nim[-3:]))
type(nim[0:])
type(nama[-4:])

012

22012
suta 012

str

In [ ]:
#Didefinisikan beberapa variabel sebagai berikut:
w = 'FMIPA merupakan singkatan dari Fakultas Matematika dan Ilmu Pengetahuan Alam'
x = "Tahun ini pemilihan mahasiswa berprestasi akan kembali diselenggarakan oleh puspresnas"
y = 'Duta Anak Kabupaten Jembrana tahun 2020 Komisi Partisipasi adalah Putu Agus Arya Suta'
z = "Moto dari Universitas Udayana yaitu Taki-Takining Sewaka Guna Widya"
#menggunakan metode string indeks untuk mencetak gabungan kata-kata dari tiap kalimat pada beberapa variabel
print(y[-19:] + " " +  w[6:16] + ' ' + x[20:41] + " " + z[10:30])

Putu Agus Arya Suta merupakan  mahasiswa berprestasi Universitas Udayana

**2. Strings Methods**

In [ ]:
#Terdapat berbagai cara untuk variabel jenis string yang dapat digunakan
#didefinisikan variabel dengan nama fmipa sebagai berikut
fmipa = "Fakultas Matematika dan Ilmu Pengetahuan Alam"
#len digunakan untuk menentukan jumlah indeks pada variabel
print(len(fmipa))
#upper berguna untuk membuat setiap indeks menjadi huruf atau angka kapital
fmipa.upper()
#antara metode satu dan lainnya tidak bisa jadi satu kode karena memori pemrograman yang terbatas sehingga harus dipisah

45

'FAKULTAS MATEMATIKA DAN ILMU PENGETAHUAN ALAM'

In [ ]:
#lower adalah kebalikan dari upper yang bertujuan untuk mencetak huruf menjadi kecil
fmipa.lower()

'fakultas matematika dan ilmu pengetahuan alam'

In [ ]:
#find adalah metode yang berguna untuk menentukan indeks ke berapa kata yang dicari
fmipa.find("Matematika")

In [ ]:
#replace bertujuan untuk menggantikan kata yang ada pada variabel dengan kata yang baru
fmipa.replace("Ilmu Pengetahuan Alam", "Science")

'Fakultas Matematika dan Science'

**3. Operasi Matematika**

In [ ]:
#Pada python juga terdapat operasi matematikanya loo
#tanda + untuk penjumlahan
print(10+11)
#tanda - untuk pengurangan
print(17-13)
#tanda * untuk perkalian
print(6*7)
#tanda / untuk pembagian
print(19/2)
#tanda // untuk pemabagian tapi dibulatkan
print(24//3)
#tanda % untuk modulo atau sisa bagi
print(13%5)
#tanda ** atau bintang dua kali untuk pangkat
print(2**5)

21
4
42
9.5
8
3
32

In [8]:
#augmented operator digunakan untuk menghitung gabungan perhitungan
y = 6
#y+= itu sama artinya dengan y = y + 2
y+= 2
print(y)
#hasil dari y tidak lagi 6 karena telah melewati augmented operator dimana y=6 kembali didefinisikan sebagai y = y+2 sehingga 6+2 = 8

8

**4. Operator Perbandingan**

In [ ]:
#tanda > menyatakan lebih dari
x = 3>4
print(x)
#tanda < menyatakan kurang dari
a = 2<9
print(a)
#tanda >= menyatakan lebih dari sama dengan
p = 2>=-3
print(p)
#tanda <= menyatakan kurang dari sama dengan
q = 6<=9
print(q)
#tanda == menyatakan sama dengan. kalau = artinya mendeklarasikan suatu variabel
z = 3==4
print(z)
#tanda != menyatakan tidak sama dengan
b = 5!=2
print(b)
#hasil yang akan dicetak hanyalah bernilai true atau false saja sesuai dengan pernyataan yang dideklarasikan

False
True
True
True
False
True

**5. Operator Logika**

In [ ]:
#pada operator ini menerapkan logika matematika yang didapat di matkul PMM (Pengantar Matematika Modern)
merah = 10
biru = 20
#disini menggunakan konsep logika konjungsi dimana kalimat bernilai benar jika kedua pernyataan bernilai benar. Jika satu saja pernyataan bernilai salah maka logika tersebut akan bernilai salah.
print(merah > 8 and biru < 18)
print(merah < 4 and biru > 30)
#disini menggunakan konsep logika disjungsi dimana kalimat bernilai salah jika kedua pernyataan bernilai salah. Jika satu saja pernyataan bernilai benar maka logika tersebut akan bernilai benar.
print(merah > 8 or biru < 18)
print(merah > 25 or biru < 6)
print(merah > 100 or biru > 21)

False
False
True
False
False

**6. Operator *If***

In [ ]:
#Dideskripsikan variabel usia dengan input menggunakan integer
usia = int (input("Berapa usiamu?:"))
#Akan dicetak kategori seseorang berdasarkan usia
print()
if usia >=0 and usia <=4 :
  print("Anda merupakan Balita")
#Digunakan tipe elif atau pengembangan dari if else yang bertujuan untuk memberikan lebih dari satu pilihan
#sedangkan else hanya digunakan untuk satu pilihan saja
elif usia >=4 and usia <=12 :
  print("Anda merupakan Anak-Anak")
elif usia >=13 and usia <=17 :
  print("Anda merupakan Remaja")
elif usia >=18 and usia <=50 :
  print("Anda merupakan Dewasa")
elif usia >=51 and usia <=100 :
  print("Anda merupakan lansia")
elif usia >=100 :
  print("Tidak Diketahui")

Berapa usiamu?:3

Anda merupakan Balita